{include file="base/head" /}
<style>
    #top-img {
        width: 100%;
        height: 560px;
        margin-top: 15px;
        background-repeat: round;
        background-image: url('/static/img/datang.jpg');
    }

    .detail {
        width: 100%;
        font-family: "微软雅黑";
    }

    .title {
        font-size: 20px;
        color: #bb997b;
        text-align: center;
        padding: 20px 0 30px;
    }

    .huamao {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .huamao-img {
        width: 566px;
        padding: 0 0 0 250px;
    }

    .detail-text {
        padding: 0 250px;
        line-height: 30px;
        text-indent: 2em;
    }

    p {
        font-size: 16px;
        color: #666;
    }
    .changlefang {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;
    }
    .changlefang-img {
        width: 566px;
        padding: 0 250px 0 0;
    }
</style>
<div id="top-img"></div>
<div class="detail">
    <h3 class="title"><b>酒店简介</b>
        <span style="display: block;"><b>Hotel Profile</b></span>
    </h3>
    <div class="huamao">
        <img src="/static/img/changlefang.jpg" alt="华贸店" class="huamao-img">
        <p class="detail-text">
            <span>
                雅禾铭都主题宴会酒店位于永川区协信世外桃源长乐坊(昌州古镇），经营面积6200多平米，能同时接待1800余人就餐，现有3个茶室供您休闲娱乐。拥有5个风格迥异的大厅，最具震撼力的LED印象厅，浪漫的爱琴海厅，古典的中式厅，唯美的花海厅，梦幻的童话厅。
            <span> <br />
            <span style="text-indent: 2em;display: block;">
                专业的声光舞美打造如电视晚会般的婚礼现场，实现您对婚礼所有的梦想；专属订制的管家式服务让您体验到今生难以忘怀的婚礼；厨房按4D标准打造，菜品由大师精心设计，膳食均衡，独具特色，精美别致，尊享色、香、味、型、器、养之完美盛宴！
            </span>
        </p>
    </div>
    <div class="changlefang">
        <p class="detail-text">
            <span>
                雅禾铭都华茂店是婚宴主题宴会酒店！酒店拥有多个风格迥异的大厅，国际厅，花好月圆厅，百年好合厅，休闲厅，多功能厅，会议厅。专业的舞美灯光设备，给你不一样的宴会体验！
            <span> <br />
            <span style="text-indent: 2em;display: block;">
                六个厅可同时容纳2000多人就餐，支持寿宴，生日宴会，会议，发布仪式，酒会等宴席。火热预订中！地址：永川华茂中心C馆4楼。
            </span>
        </p>
        <img src="/static/img/huamao.jpg" alt="华贸店" class="changlefang-img">
        
    </div>
</div>
{include file="base/floor" /}